div.product {
  cursor: pointer;
  border-radius: 5px;
}

div.product:hover {
  background: rgb(250, 250, 250);
}

img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 5px;
}

div.info {
  margin-left: .7em;
  margin-right: .7em;
}

div.title span.name {
  color: #ffba00;
  font-weight: 900;
  font-size: 2em;
}

div.title span.days {
  color: #ffd668;
  font-weight: 500;
  font-size: 1.5em;
  margin-left: 5px;
}

span.profile {
  color: #ffd668;
  font-weight: 700;
  font-size: 1.5em;
  display: inline-block;
  /* float: left; */
}

span.progress {
  color: #ffca12;
  font-weight: 700;
  font-size: 1.3em;
  float: right;
}

@media (max-width: 1000px) {
  div.title span.name {
    font-size: 1.5em;
  }
  div.title span.days {
    font-size: 1em;
  }
  span.profile {
    font-size: 1.2em;
  }
  span.progress {
    font-size: 1em;
  }
}

@media (max-width: 570px) {
  div.info {
    margin-left: .1em;
    margin-right: .1em;
  }
  div.title span.name {
    font-size: 1em;
  }
  div.title span.days {
    font-size: .8em;
  }
  span.profile {
    font-size: .8em;
    float: none;
  }
  span.progress {
    font-size: .5em;
    float: none;
    margin-left: .4em;
  }
}
